<p appFundoAmarelo>
    Texto com fundo amarelo.
</p>

<button appFundoAmarelo>Botão com fundo amarelo.</button>

<p appHighlightMouse>
    Texto com highlight quando passo o mouse.
</p>

<p [defaultColor]="'grey'" [appHighlight]="'red'">
    Texto com highlight com cores customizadas.
</p>

<h5>Diretiva de Estrutura customizada - ngElse</h5>

<div *ngIf="mostrarCursos" >
    Lista de cursos aqui:
</div>

<div *ngElse="mostrarCursos" >
    Não existem cursos para serem listados.
</div>

<br>

<button (click)="onMostrarCursos()">
    Mostrar ou esconder cursos
</button>